<div id="header-bar">
	<div id="header-logo"><img src="/img/home.png" border="0" /></div>
	<div id="board-title"><%= title %></div>
	<div id="share-board-container" class="header-button-container"><span>Share</span></div>
	<div id="view-board-map"><img src="/img/boardMap.png" border="0" /></div>
	<div id="zoom-in-container" class="header-button-container"><span>+</span></div>
	<div id="zoom-container">100%</div>
	<div id="zoom-out-container" class="header-button-container"><span>-</span></div>
	<div class="clear"></div>
</div>
<div id="board-container"></div>
<div id="north-board-navigation" class="workspace-navigation">N</div>
<div id="south-board-navigation" class="workspace-navigation">S</div>
<div id="east-board-navigation" class="workspace-navigation">E</div>
<div id="west-board-navigation" class="workspace-navigation">W</div>
<div id="card-create-overlay" style="display: none"></div>
<div id="overlay"></div>