<div class="header-bar">
	<img id="splash-logo" src="/img/logo.png" border="0">
	<div id="authenticate-container" class="right">
		<button id="signup-button">CREATE AN ACCOUNT</button>
		<button id="login-button">Sign In</button>
	</div>
	<div class="clear"></div>
</div>
<div id="splash-main-body">
	<div id="authenticate-panel" class="panel-body">
		<div class="panel-header">Sign in to your existing account</div>
		<div class="panel-intro">If you don't have an account, <span id="create-account-link" class="link">create an account</span></div>
		<div id="login-error-message" class="panel-error-message"></div>
		<div class="panel-item input-container panel-padding"><input id="email" type="text" placeholder="E-mail address" /></div>
		<div class="panel-item input-container"><input id="password" type="password" placeholder="Password" /></div>
		<div class="right"><button id="log-in-button" class="authenticate-button">SIGN IN</button></div>
   		<div class="clear"></div>
	</div>
</div>