<div class="header-bar">
	<img id="splash-logo" src="/img/logo.png" border="0">
	<div id="authenticate-container" class="right">
		<button id="signup-button">CREATE AN ACCOUNT</button>
		<button id="login-button">Sign In</button>
	</div>
	<div class="clear"></div>
</div>	
<div id="splash-main-body">
	<div id="authenticate-panel" class="panel-body">
		<div class="panel-header">Thank you for your interest!</div>
		<div id="signup-error-message" class="panel-error-message"></div>
		<div class="panel-item input-container panel-padding"><input id="username" type="text" placeholder="Firstname Lastname" /></div>
		<div class="panel-item input-container panel-padding"><input id="email" type="text" placeholder="E-mail address" /></div>
		<div class="panel-item input-container panel-padding"><input id="password" type="password" placeholder="Password" /></div>
		<div class="panel-item input-container panel-padding"><input id="password-confirm" type="password" placeholder="Confirm Password" /></div>
		<div class="right"><button id="create-account-button">CREATE AN ACCOUNT</button></div>
   		<div class="clear"></div>
	</div>
</div>