<div id="main-header" class="header-bar">
	<img id="logo" src="/img/logo.png" border="0" />
	<div class="board-actions"></div>
</div>
<div class="board-layout-container">
	<div class="board-navigation"><button id="create-workspace-button">CREATE A WORKSPACE</button></div>
	<div class="board-list-container">
		<table class="workspace-list clear">
			<thead>
				<th class="select-board">&nbsp;</th>
				<th class="board-title">TITLE</th>
				<th class="owner">OWNER</th>
				<th class="modified">LAST MODIFIED</th>
			</thead>
			<tbody id="workspace-list-body"></tbody>
		</table>
	</div>
	<div class="clear"></div>
</div>
<div id="modal-overlay" style="display: none"></div>