/* Item content styles */

.clustered-card-container {
    position: relative;
    width: 180px;
    background-color: #FDFDFD;
    -webkit-box-shadow: 0 1px 4px #bbbbbb;
    -moz-box-shadow: 0 1px 4px #bbbbbb;
    box-shadow: 0 1px 4px #bbbbbb;
    vertical-align: top;
    width: 180px;
    margin-top: 5px;
    margin-right: 5px;
    z-index: 4;
}

.card-container {
    position: absolute;
    width: 180px;
    background-color: #FDFDFD;
    -webkit-box-shadow: 0 1px 4px #bbbbbb;
    -moz-box-shadow: 0 1px 4px #bbbbbb;
    box-shadow: 0 1px 4px #bbbbbb;
    cursor: hand;
    cursor: pointer;
    z-index: 2;
}

.card-container.locked {
    -webkit-box-shadow: 0 0px 0px #ffffff;
    -moz-box-shadow: 0 0px 0px #ffffff;
    box-shadow: 0 0px 0px #ffffff;
}


/* Voting styles */

.vote-container {
    margin-top: 0px;
}

.vote-container .add-vote {
    margin-right: 5px;
}

.vote-container .vote-count {
    position: relative;
    font-size: 12px;
    font-weight: normal;
    vertical-align: top;
    top: 1px;
}

/* Resizing styles */

.resizing-content {
    top: -5px;
    left: -5px;
    border: 1px solid #ff0000;
}

.resize-left {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #ff0000;
    top: 50%;
    left: -4px;
    margin-top: -4px;
}

.resize-right {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #ff0000;
    top: 50%;
    right: -4px;
    margin-top: -4px;
}

.resize-top {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #ff0000;
    left: 50%;
    top: -4px;
    margin-left: -4px;
}

.resize-bottom {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #ff0000;
    left: 50%;
    bottom: -4px;
    margin-left: -4px;
}

.resize-top-left {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #ff0000;
    top: -4px;
    left: -4px;
}

.resize-top-right {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #ff0000;
    top: -4px;
    right: -4px;
}

.resize-bottom-left {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #ff0000;
    left: -4px;
    bottom: -4px;
}

.resize-bottom-right {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #ff0000;
    right: -4px;
    bottom: -4px;
}

/* Laying out card styles */

.card-content {
    position: relative;
    color: #222222;
    padding:10px;
    cursor: hand;
    cursor: pointer;
}

.card-content-body {
    font-weight: normal;
    color: #000000;
    cursor: hand;
    cursor: pointer;
    word-wrap: break-word;
}

.card-image-container {
    width:100%;
    padding: 0px;
    margin: 0px;
}

.card-image-title {
    padding-top: 10px; 
    color: #222222;
    word-wrap: break-word;
}

.card-action-container {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top:10px;
    margin-right:8px;
    border: 0px;
}

.card-settings-menu {
    width: 150px;
    position: absolute;
    top: 10px;
    right: -144px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-shadow: 0 1px 4px #cccccc;
    -moz-box-shadow: 0 1px 4px #cccccc;
    box-shadow: 0 1px 4px #cccccc;
    background-color: #ffffff;
    z-index: 14;
}

/* Laying out cluster styles */

.cluster-body .cluster-image-container {
    width:180px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 8px;
}

.cluster-body-collapsed .cluster-image-container {
    width:160px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 8px;
}

.cluster-image-container .card-content-image {
    width: 100%;
    cursor: hand;
    cursor: pointer;
}

.card-image-container .card-content-image {
    width: 100%;
    cursor: hand;
    cursor: pointer;
}

/* Create card overlay styles */

#card-create-overlay {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0);
    z-index:999;
}

.card-input-container {
    background-color: #FFFFFF;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 4px #bbbbbb;
    -moz-box-shadow: 0 1px 4px #bbbbbb;
    box-shadow: 0 1px 4px #bbbbbb;
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 525px;
    min-height: 330px;
    margin-top: -165px;
    margin-left: -263px;
}

/* Card manipulation */

.text-card-container, .edit-image-container { 
    margin: 15px;
}

.text-card-input {
    position: relative;
    -webkit-font-smoothing: antialiased !important;
    font-size:36px;
    font-weight: 700;
    color: #222222;
    background: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 260px;
    padding: 0px;
    overflow: hidden;
    overflow-y: auto;
    resize: none;
    outline: none;
}

#add-text-container .card-color-spectrum, #edit-text-container .card-color-spectrum {
    position: absolute;
    bottom: 16px;
}

#add-text-container .card-color-spectrum {
    right: 85px;
}

#edit-text-container .card-color-spectrum {
    right: 105px;
}

#add-image-container .card-color-spectrum {
    position: absolute;
    bottom: 14px;
    right: 105px;
}

#edit-image-container .card-color-spectrum {
    position: relative;
    float: right;
    margin-right: 10px;
    top: 10px;
}

.show-add-text-btn {
    position: absolute;
    bottom: 14px;
    left: 15px;
    cursor: hand;
    cursor: pointer;
}

.show-add-image-btn {
    position: absolute;
    bottom: 15px;
    left: 15px;
    cursor: hand;
    cursor: pointer;
}

.card-input-container .button {
    background-color: #8A8C8E;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8A8C8E), to(#8A8C8E));
    background-image: -webkit-linear-gradient(top, #8A8C8E, #8A8C8E);
    background-image: -o-linear-gradient(top, #8A8C8E, #8A8C8E);
    background-image: linear-gradient(to bottom, #8A8C8E, #8A8C8E);
    border: 1px solid #8A8C8E;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased !important;
    font-size:18px;
    font-weight: normal;
    color: #ffffff;
    cursor: hand;
    cursor: pointer;
}

.card-input-container button {
    position: relative;
    float: right;
    margin-top: 8px; 
}

#add-image-container input[type=text], #edit-image-container input[type=text] {
    width: 100%;
    padding: 4px;
    font-size:16px;
    font-weight: normal;
    color: #222222;
    resize: none;
    background: rgba(255, 255, 255, 0);
    border: 1px solid #cccccc;
}

/* Edit image input */

#edit-image-body {
    margin-top: 5px;
    margin-right: 9px;
}

.image-container {
    text-align: center;
    min-height: 232px;
}

.edit-content-image {
    max-width: 100%;
    border: 1px solid #E0E0E0;
}

/* Add image input */

.card-input-container #add-image-btn {
    cursor: hand;
    cursor: pointer;  
    position: relative;
    float: left;
    margin-top: 10px;
}

.add-image-body {
    position: absolute;
    padding: 15px;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
}

.add-image-body #image-upload-container {
    margin-bottom: 8px;
}

.add-image-body .padded {
    margin-right: 12px;
    margin-bottom: 8px;
}

#add-image-container .add-image-btn {
    position: absolute;
    bottom: 13px;
    right: 15px;
}

#selected-files-container {
    max-height: 136px;
    overflow: auto;
    margin-bottom: 8px;
}

#selected-files-container .file-to-upload {
    background-color: #DDF0DD;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-top: 1px solid #A2A2A2;
    border-bottom: 1px solid #A2A2A2;
    border-left: 1px solid #A2A2A2;
    border-right: 1px solid #A2A2A2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:13px;
    font-weight: bold;
    color: #222222;
    margin-bottom: 2px;
}

.progress {
    height: 20px;
    margin-top: 8px;
    overflow: hidden;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.progress-bar {
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-bar-success {
    background-color: #5cb85c;
}

/* Loading Image Animation*/

#loading-container {
    width:305px;
    padding-top: 8px;
    margin: 0 auto;
}

#squaresWaveG {
    position:relative;
    width:305px;
    height:20px
}

.squaresWaveG {
    position:absolute;
    top:0;
    background-color:#5cb85c;
    width:29px;
    height:20px;
    -moz-animation-name:bounce_squaresWaveG;
    -moz-animation-duration:2.47s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-animation-name:bounce_squaresWaveG;
    -webkit-animation-duration:2.47s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-animation-name:bounce_squaresWaveG;
    -ms-animation-duration:2.47s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -o-animation-name:bounce_squaresWaveG;
    -o-animation-duration:2.47s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    animation-name:bounce_squaresWaveG;
    animation-duration:2.47s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

#squaresWaveG_1 {
    left:0;
    -moz-animation-delay:0.52s;
    -webkit-animation-delay:0.52s;
    -ms-animation-delay:0.52s;
    -o-animation-delay:0.52s;
    animation-delay:0.52s;
}

#squaresWaveG_2 {
    left:20px;
    -moz-animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
    -ms-animation-delay:0.65s;
    -o-animation-delay:0.65s;
    animation-delay:0.65s;
}

#squaresWaveG_3 {
    left:40px;
    -moz-animation-delay:0.78s;
    -webkit-animation-delay:0.78s;
    -ms-animation-delay:0.78s;
    -o-animation-delay:0.78s;
    animation-delay:0.78s;
}

#squaresWaveG_4 {
    left:60px;
    -moz-animation-delay:0.91s;
    -webkit-animation-delay:0.91s;
    -ms-animation-delay:0.91s;
    -o-animation-delay:0.91s;
    animation-delay:0.91s;
}

#squaresWaveG_5 {
    left:80px;
    -moz-animation-delay:1.04s;
    -webkit-animation-delay:1.04s;
    -ms-animation-delay:1.04s;
    -o-animation-delay:1.04s;
    animation-delay:1.04s;
}

#squaresWaveG_6 {
    left:100px;
    -moz-animation-delay:1.17s;
    -webkit-animation-delay:1.17s;
    -ms-animation-delay:1.17s;
    -o-animation-delay:1.17s;
    animation-delay:1.17s;
}

#squaresWaveG_7 {
    left:120px;
    -moz-animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
    -ms-animation-delay:1.3s;
    -o-animation-delay:1.3s;
    animation-delay:1.3s;
}

#squaresWaveG_8 {
    left:140px;
    -moz-animation-delay:1.43s;
    -webkit-animation-delay:1.43s;
    -ms-animation-delay:1.43s;
    -o-animation-delay:1.43s;
    animation-delay:1.43s;
}

#squaresWaveG_9 {
    left:160px;
    -moz-animation-delay:1.56s;
    -webkit-animation-delay:1.56s;
    -ms-animation-delay:1.56s;
    -o-animation-delay:1.56s;
    animation-delay:1.56s;
}

#squaresWaveG_10 {
    left:180px;
    -moz-animation-delay:1.69s;
    -webkit-animation-delay:1.69s;
    -ms-animation-delay:1.69s;
    -o-animation-delay:1.69s;
    animation-delay:1.69s;
}

#squaresWaveG_11 {
    left:200px;
    -moz-animation-delay:1.82s;
    -webkit-animation-delay:1.82s;
    -ms-animation-delay:1.82s;
    -o-animation-delay:1.82s;
    animation-delay:1.82s;
}

#squaresWaveG_12 {
    left:221px;
    -moz-animation-delay:1.95s;
    -webkit-animation-delay:1.95s;
    -ms-animation-delay:1.95s;
    -o-animation-delay:1.95s;
    animation-delay:1.95s;
}

#squaresWaveG_13 {
    left:242px;
    -moz-animation-delay:2.08s;
    -webkit-animation-delay:2.08s;
    -ms-animation-delay:2.08s;
    -o-animation-delay:2.08s;
    animation-delay:2.08s;
}

#squaresWaveG_14 {
    left:263px;
    -moz-animation-delay:2.21s;
    -webkit-animation-delay:2.21s;
    -ms-animation-delay:2.21s;
    -o-animation-delay:2.21s;
    animation-delay:2.21s;
}

#squaresWaveG_15 {
    left:284px;
    -moz-animation-delay:2.34s;
    -webkit-animation-delay:2.34s;
    -ms-animation-delay:2.34s;
    -o-animation-delay:2.34s;
    animation-delay:2.34s;
}

#squaresWaveG_16 {
    left:305px;
    -moz-animation-delay:2.47s;
    -webkit-animation-delay:2.47s;
    -ms-animation-delay:2.47s;
    -o-animation-delay:2.47s;
    animation-delay:2.47s;
}

@-moz-keyframes bounce_squaresWaveG {
    0%{
        background-color:#5cb85c;
    }

    100%{
        background-color:#FFFFFF;
    }

    }

    @-webkit-keyframes bounce_squaresWaveG{
    0%{
        background-color:#5cb85c;
    }

    100%{
        background-color:#FFFFFF;
    }

    }

    @-ms-keyframes bounce_squaresWaveG{
    0%{
        background-color:#5cb85c;
    }

    100%{
        background-color:#FFFFFF;
    }

    }

    @-o-keyframes bounce_squaresWaveG{
    0%{
        background-color:#5cb85c;
    }

    100%{
        background-color:#FFFFFF;
    }

    }

    @keyframes bounce_squaresWaveG{
    0%{
        background-color:#5cb85c;
    }

    100%{
        background-color:#FFFFFF;
    }
}