/* panel classes */
	
	.panel-body {
	    position: relative;
	    width: 450px;
	    margin: 0 auto;
	    background-color: #FFFFFF;
	    padding-top: 15px;
	    padding-left: 15px;
	    padding-right: 15px;
	    padding-bottom: 7px;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    color: #222222;
	}
	
	.panel-body .panel-header {
	    position: relative;
	    font-size: 20px;
	    font-weight: normal;
	    color: #545454;
	    padding-bottom: 10px;
	}
	
	.panel-body .panel-intro {
	    position: relative;
	    color: #808080;
	    padding-bottom: 10px;
	}
	
	.panel-body .panel-item {
	    font-size:15px;
	    font-weight: normal;
	    color: #111111;
	    padding-bottom: 5px
	}

	.panel-body .panel-error-message {
	    position: relative;
	    padding-bottom: 8px;
	    font-weight: bold;
	    color: #CC0000;
	}
	
	.panel-body .panel-padding {
	    padding-bottom: 15px;
	}
	
	.panel-body .input-container {
	    padding-right: 13px;
	}
	
	.panel-item input[type=text] {
	    width: 100%;
	    color: : #222222;
	    padding: 5px;
	    border: 1px solid #b9b9b9;
	    resize: none;
	}
	
	.panel-item input[type=password] {
	    width: 100%;
	    color: : #222222;
	    padding: 5px;
	    border: 1px solid #b9b9b9;
	    resize: none;
	}
	
	.panel-item textarea {
	    width: 100%;
	    font-size:15px;
	    font-weight: normal;
	    color: : #222222;
	    padding: 5px;
	    border: 1px solid #b9b9b9;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    resize: none;
	}